body {
    background-color:#d8e4c1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #e2ebff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
}